* {
  box-sizing: border-box;
}

Card {
  display: inline-block;
}

.countrycard {
  margin: 5px !important;
}

.countrycard img {
  width: 100px;
}

.card-column{
  width: 100% !important;
  max-width: 100% !important;
}
